<div class="container">
  <section class="top-half">
    <header>
      <h1>Selamat Datang Di Coffee World</h1>
      <p>Temukan pengetahuan mengenai kopi yang ada di dunia</p>
    </header>
  </section>
  <main>
    <section class="intro">
      <div class="content-middle" style="text-align: center">
        <h2 class="section-title">Tentang Kami</h2>
        <p class="section-description">
          Kami sangat bersemangat untuk menghadirkan biji kopi terbaik dari
          berbagai daerah. Misi kami adalah memberikan Anda pengetahuan mengenai
          kopi. Dengan pengetahuan mendalam tentang kopi, kami berkomitmen untuk
          menyajikan informasi yang akurat dan menarik mengenai berbagai jenis
          kopi, proses pembuatannya, serta budaya kopi di seluruh dunia.
        </p>
      </div>
    </section>
  </main>
</div>
